*{
  margin: 0; 
  padding: 5px;
  box-sizing: border-box;
  }

header{
  background-color: lightblue;
  color: #fff;
  padding: 5px;
;

}
header h1 
{ text-align:center 
}

li
{
  color: rgb(0, 0, 255)
} 
