*{
  margin: 0; 
  padding: 5px;
  box-sizing: border-box;
  }

header{
  
  background-color: lightblue;
  color: #fff;
  padding: 5px;
<<<<<<< HEAD
  
=======
;

>>>>>>> 55d78da0ead8bb415f5a8e77244d25e78b46f0ce
}
header h1 
{ text-align:center 
}

li
{
  color: rgba(226, 8, 44, 0.829)
} 
